  <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card mt-4">
            <div class="card-body">
                <h1>Your Ticket Sales</h1>
                {{#if noSoldTix}}
                  <p>You have not sold any tickets</p>
                {{/if}}

                {{#each listingArray}}
                {{#if this.sold}}
                <ul class="listing">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <li><p><strong>Section</strong>: </p>
                            </div>
                            <div class="col-9">
                                    <p>{{this.section_number}}</p></li>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <li><p><strong>Row</strong>:</p>
                            </div>
                            <div class="col-9">
                                    <p>{{this.row_number}}</p></li>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <li><p><strong>Seat</strong>:</p>
                            </div>
                            <div class="col-9">
                                <p>{{this.seat_number}}</p></li>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <li><p><strong>Price</strong>:</p>
                            </div>
                            <div class="col-9">
                                 <p>${{this.price}}</p></li>
                            </div>
                        </div>
                    </div>
                </ul>
                {{/if}}
                {{/each}}
                <br/>
                <a class="try-again-anchor" href="/user-email/{{userEmail}}">View Active Listings</a>
                <a class="home-anchor" href="/">Home Page</a>

            </div>
          </div>
        </div>
      </div>

  {{#if sellerEmail}}
  <div class="jumbotron">
      <form id="seller-email-form">
          <div class="form-email">
            <label for="name-input">Enter your email to view your listing:</label>
            <input class="form-control" id="user-email" placeholder="jon@gmail.com" type="text">
          </div>
      </form>
  </div>
  {{/if}}

  {{#if buyerEmail}}
  <div class="jumbotron">
      <form id="buyer-email-form"
            data-section="{{section_number}}"
            data-row="{{row_number}}"
            data-seat="{{seat_number}}"
            data-price="{{price}}">
          <div class="form-email">
            <label for="name-input">Enter your email to recieve your reciept:</label>
            <input class="form-control" id="user-email" placeholder="jon@gmail.com" type="text">
          </div>
      </form>
  </div>
  {{/if}}

</div>


