<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h1>Users name Ticket Listing</h1>
            <ul>{{#each userListings}}
            <li><p><strong>User Name</strong>: {{this.username}}</p></li>
            <li><p><strong>Seat Number</strong>: {{this.seatnumber}}</p></li>
            <li><p><strong>Section Number</strong>: {{this.sectionnumber}}</p></li>
            <li><p><strong>Row Number</strong>: {{this.rownumber}}</p></li>
            <li><p><strong>Price</strong>: ${{this.price}}</p></li>
            {{/each}}
            </ul>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


