<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h1>Users name Ticket Listing</h1>
            <ul>{{#each listing}}
            <li><p><strong>User Name</strong>: {{this.user_name}}</p></li>
            <li><p><strong>Seat Number</strong>: {{this.seat_number}}</p></li>
            <li><p><strong>Section Number</strong>: {{this.section_number}}</p></li>
            <li><p><strong>Row Number</strong>: {{this.row_number}}</p></li>
            <li><p><strong>Price</strong>: ${{this.price}}</p></li>
            {{/each}}
            </ul>
            <a href="/">Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


