<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h1>Users name Ticket Listing</h1>
            <p><strong>User Name</strong>: {{userinfo.username}}</p>
            <p><strong>Seat Number</strong>: {{userinfo.seatnumber}}</p>
            <p><strong>Section Number</strong>: {{userinfo.sectionnumber}}</p>
            <p><strong>Row Number</strong>: {{userinfo.rownumber}}</p>
            <p><strong>Price</strong>: ${{userinfo.price}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


